@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 100vh;
    background: url("./pics/advertising-photoshoot-of-torgoen-business-wrist-watch.jpg");
    padding: 2em;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    height: auto;
    width: auto;
    padding: 1em;
    background-color: #f2f2f2; /* Netflix light gray */
    box-shadow: 0 0 10px #e1e1e1; /* Netflix light gray */
    margin: 1em;
    color: #000; /* Black text */
}

.card:hover img,
.card:hover {
    box-shadow: 0 0 10px #b4b4b4; /* Darker shade of Netflix light gray */
    transition: 0.2s ease-in-out;
    /* -webkit-filter: none; */
}

.pic>img {
    width: 100%;
    /* -webkit-filter: grayscale(); */
}

.text {
    padding: 0.5em 0;
}

.button>button {
    border: 1px solid #E50914; /* Netflix red */
    color: #E50914; /* Netflix red */
    background-color: transparent;
    padding: 0.5em;
    border-radius: 2px;
    font-size: 70%;
    margin-bottom: 0.5em;
}

.button>button:first-child {
    background-color: #E50914; /* Netflix red */
    color: #fff; /* White text */
    padding: 0.5em;
    border-radius: 2px;
    font-size: 70%;
}

.button>button:hover {
    background-color: #b2070d; /* Darker shade of Netflix red */
    color: #fff; /* White text */
}

@media (max-width: 550px) {
    .row {
        flex-direction: column;
    }

    .card {
        height: 40vh;
        width: 50vw;
    }
}
